<html>
  <head>
    <title>Quintype App</title>
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css"/>
    <script type="text/javascript" src="/assets/modules/app.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/modules/diamond.js"></script>
  </head>
  <body>
    <div id="container">
    </div>
    
    <script type="text/javascript">
    startApp(document.getElementById("container"));
    </script>
    <script type="text/javascript" src="/assets/modules/main.js"></script>

  </body>
</html>
